.PoiAdvisor {
  position: relative;
  width: 75%;
  margin: 0 auto;
  border-radius: 40px;
  background-color: #B22222;
  display: grid;
  justify-content: center;
  justify-items: center;
  align-items: center;
  grid-gap: 2vh;
  grid-template-columns: auto auto auto auto;

  h3 {
    grid-column: 1 / 5;
    justify-self: start;
    align-self: start;
  }
}