.PoiAdvisor {
  background-color: #B22222;
  display: grid;
  justify-content: center;
  justify-items: center;
  align-items: center;
  grid-gap: 2vh;
  grid-template-columns: auto auto auto auto auto [last-col];

  h3 {
    grid-column: 1 / last-col;
    justify-self: start;
    align-self: start;
  }
}