.Start {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .text-container {
    width: 38vw;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(20, 20, 20, 0.8);
    padding: 4vh 6vh;

    h2 {
      text-shadow: 4px 4px 2px #393E41;
      margin: 0;
    }
  }
}