footer {
  width: 100%;
  background-color: #100e17;
  height: 40vh;
  padding: 6vh 15vw;
  box-sizing: border-box;
  margin-top: 5vh;
  display: flex;
  justify-content: space-between;

  .social-links {
    a {
      display: flex;
      align-items: center;
      height: 32px;
      text-decoration: none;

      .github-text {
        margin-left: 1vh;
      }
    }
  }

  p {
    font-family: Nunino, sans-serif;
    font-weight: bold;
    margin: 0 0 1.5vh;
  }

  a {
    color: white;
    font-family: Lato, sans-serif;
  }
}