.Controls {
  padding: 1.5% 0;
  background-color: white;

  span {
    margin-left: 10%;
    padding: 0.5% 1.25%;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    background-color: #222222;
    text-decoration: underline;

    &:hover {
      background-color: #333;
    }
  }
}