.TripAdvisor {
  width: 40%;
  height: 100%;
  background-color: #202020;

  nav {
    margin: 10% 10%;

    li {
      list-style-type: none;
      margin: 2vh 0;
      font-size: 1.618em;
    }
  }
}