.TripAdvisor {
  width: 40%;
  height: 100%;
  background-color: #202020;
  display: flex;
}

.control {
  width: 5%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}