.CardRow {
  overflow: hidden;

  h3 {
    font-size: 3.25vh;
    font-family: Nunito, sans-serif;
    margin: 1vh 1vh;
    border-bottom: 1px solid white;
  }

  .card-container {
    display: flex;
  }
}